<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/images/logo-blue-white.svg"
          alt="web designer logo"
          width="264"
          height="78"
      /></a>
      <p>
        I am an independent
        <a href="/services/web-design-calgary">web designer</a> based in Calgary
        offering website design, website development, and
        <a href="/services/calgary-seo-services">local SEO services</a>. I do
        things differently here... I build websites to help your business get
        REAL results (just like how I helped a local contractor 16X his service
        calls). What sets me apart is the research effort I put into your online
        competition prior to doing any work. This enables me to help you build a
        strong online foundation to your long-term
        <a href="/services">marketing</a> success. After 2+ years of helping
        companies in the construction, lodging, automotive, manufacturing,
        engineering, and health & wellness industry, I know what it takes to
        succeed online. If you're looking for REAL online results, it all starts
        with a conversation. Call me today or
        <a href="/contact">book online!</a>
      </p>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/reviews">Reviews</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li>
            <a href="/services/web-design-calgary">Web Design & Development</a>
          </li>
          <li>
            <a href="/services/calgary-seo-services"
              >Search Engine Optimization</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/contact">
              {{client.address.city}} {{client.address.state}}
            </a>
          </li>
          <li>
            <a href="tel:{{client.phoneForTel}}">
              T: {{client.phoneFormatted}}
            </a>
          </li>
          <li>
            <a href="mailto:{{client.email}}">Click to Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="/" target="_blank" rel="noopener">Yours Truly</a>
    <span class="copyright"> Copyright 2020 - Present</span>
  </div>
</footer>
