<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section class="cs-contact-486">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Send me a message!</h2>
      <p class="cs-text">
        I'd love to hear about your project and discuss how I can help. Please
        fill the form on the right side to schedule a call or discussion to get
        started on your new website.
      </p>
      <span class="cs-heading">You can also contact me here:</span>
      <a href="tel:587-437-9161" class="cs-link">(587) 437-9161</a>
      <a href="mailto:aaron@aarontonner.com" class="cs-link"
        >aaron@aarontonner.com</a
      >
    </div>
    <!--Form-->
    <form class="cs-form-486" name="contact" method="POST" data-netlify="true">
      <h3 class="cs-h3">What can I do for you?</h3>
      <input type="hidden" name="form-name" value="contact" />

      <label class="cs-label">
        Name *
        <input
          class="cs-input"
          required
          type="text"
          id="name-486"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="cs-label">
        Phone *
        <input
          class="cs-input"
          required
          type="text"
          id="phone-486"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="cs-label">
        Email *
        <input
          class="cs-input"
          required
          type="text"
          id="email-486"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="cs-label">
        Message *
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1700"
          placeholder="Message"
        >
Hi Aaron, I saw your $100 website offer with lifetime edits and hosting and I'd love to hear more about it!</textarea
        >
      </label>
      <button class="cs-button-solid cs-submit" type="submit">
        Send Message
      </button>
    </form>
  </div>
</section>
