---
title: "Reviews"
description:
  "I do things differently here... I build websites to help your business get
  REAL results (just like how I helped a local contractor 16X his service
  calls). That's probably why I'm so highly reviewed (yeah, I said it)."
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "reviews/"
eleventyNavigation:
  key: Reviews
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/reviews.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="ReviewBanner-327">
  <div class="cs-container">
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/reviews" class="cs-link cs-active">Reviews</a>
    </div>
    <h1 class="cs-int-title">Web Design & Development Client Reviews</h1>

    <p class="cs-text light">
      I do things differently here... I build websites to help your business get
      REAL results (just like how I helped a local contractor 16X his service
      calls). That's probably why I'm so highly reviewed (yeah, I said it).
    </p>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.digitaloceanspaces.com/Banners/library.jpg"
      alt="library"
      width="1920"
      height="375"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1454">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">All Reviews</span>
      <h2 class="cs-title">Built on Relationships</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          Aaron listened to our feedback, answered our questions, and brought
          his expertise. He also referred us to a computer tech that helped us
          set up Microsoft 365, Sharepoint, shared data files, Outlook, etc.
          Aaron was friendly, timely and totally fun to work with. 60 days after
          lauching, the site generated a 16x increase in online inquiries. I
          would recommend Aaron, and have, to anyone looking to increase their
          business visibility, website traffic, professionalism, credibility,
          and most importantly, revenue!
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Victoria Preissl
            <span class="cs-job">KLAAD Glass Ltd.</span>
          </span>
        </div>
      </li>
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          I really enjoyed working collaboratively with Aaron. He's very adept
          at what he does, and efficient as well. I also appreciated the
          professionalism he brought to my online communications with clients.
          His advise was always solid and thoughtful, and with his help I've
          been able to communicate my unique business and value proposition to
          clients much more effectively. This includes website and direct
          communications. I wouldn't hesitate to recommend Aaron Tonner Web
          Solutions to other business owners!
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Rob Thiessen
            <span class="cs-job">3'D Revolution Technologies</span>
          </span>
        </div>
      </li>
    </ul>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          We couldn't be happier with our choice to hire Aaron for our web
          design project. We were asking a lot as not only did we want the
          finished site to look great, but we wanted it to be very easy for us
          to customise and add to ourselves. Aaron exceeded our expectations in
          both regards and kept us updated on a daily basis often by making demo
          videos to show the direction he was taking and give us insight into
          how we would be able to work with the site moving forward. One of the
          best things about working with Aaron was the ideas and suggestions he
          came up with to take our project to a more professional level. We
          really wanted someone who could show us the way and come up with ideas
          for us and this is exactly what we got. We threw all sorts of
          challenges Aaron's way and each time he came back with a number of
          options for us and was even willing to create iterations to help us
          choose the best solution. An example that springs to mind is our
          choice of homepage image which created problems when making overlaying
          text readable across all the devices. Aaron was able to fix this so
          that not only could we use the image we had chosen but the text is
          beautifully displayed on whichever device it is viewed from. We had a
          tight deadline for this project and Aaron was very conscious of this
          and organised the project in such a way that we comfortably achieved
          that. We can not recommend Aaron highly enough and already have plans
          to work with him in the future. Many thanks Aaron!
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Nick Holder
            <span class="cs-job">Megasets.ai</span>
          </span>
        </div>
      </li>
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          Communication is the biggest challenge in successfully completing
          projects with other web designers and developers, but Aaron always
          makes communication online to be effortless. Aaron Tonner Web
          Solutions provides the best web design and development services in
          Calgary and I highly recommend him for your next website project. Not
          only does he provide web design work, but also quality SEO services so
          that a business can easily be found online.
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name"> Patrick Pierre </span>
        </div>
      </li>
    </ul>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          Before seeking Aaron’s help, our websites (Misty Ridge Retreat B&B &
          Pacha Mamma Massage) were bare bones, made quickly without the bells
          and whistles or any SEO research. Creating a vital, viable website was
          something that eluded us as well as finding time to learn. Aaron
          recreated both sites masterfully. We would recommend Aaron to anyone
          who is having the same struggle as we did. Aaron is very
          knowledgeable, creative and patient with clients, like me, who do not
          know the technical side of website building.
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            Kathryn Kessler
            <span class="cs-job">Misty Ridge Retreat B&B</span>
          </span>
        </div>
      </li>
      <li class="cs-item">
        <img
          class="cs-item-stars"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
          alt="stars"
          width="96"
          height="16"
        />
        <p class="cs-review">
          We hired him for our website / business solutions for better exposure
          and marketing and with very little input on my end his initial design
          and layout was spot on to our branding. A true start to finish turn
          key operation - answered emails promptly, took the time for video
          calls, handled our changes and suggestions almost instantly and was
          always patient and willing to go the extra mile for our needs. I
          highly recommend Aaron to any business not only looking for a great
          website but to increase revenue and exposure. The tools he installed
          have already increased our customer connections.
          <a
            target="_blank"
            href="https://www.google.com/search?q=aaron+tonner+web+solutions&rlz=1C1JZAP_enCA1008CA1008&oq=aaron+tonner+web+solutions&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGD0yBggCEEUYPDIGCAMQRRhB0gEIMjc5MmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x8984d19ad4196043:0xa41e3748c364663b,1,,,,"
            >Read more...</a
          >
        </p>
        <div class="cs-flex-group">
          <span class="cs-name">
            James Ross
            <span class="cs-job">Royco Electric Ltd.</span>
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
